body {
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr;
    background-color: #212121;
    color: #FFF5EE;
    letter-spacing: 0.06rem;
}

#sidebar {
    margin-left: 10%;
}

.icon {
    height: 30px;
    width: auto;
    padding: 5%;
}

#new-project-btn:hover {
    cursor: pointer;
    background-color: #444444;
    border-radius: 2px;
}

#sidebar-project-title {
    border-radius: 2px;
    padding: 5px;
}

#sidebar-project-title:hover {
    cursor: pointer;
    background-color: #444444; 
}

#project-area {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: 5%;
}

#project-input-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    word-wrap: break-word;
}

#project-rendered-area {
    margin: 0 0 1rem 0;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    margin-top: 5%;
    align-self: center;
    background-color: #292929;
    color: #ffffff;
    border: 1px solid #292929;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #444444;
}

button:focus {
    outline: none;
}

#input-title,
#input-description,
#input-create-button {
    padding: 5px;
    width: 40%;
    margin: 1%;
    border-radius: 2px;
    resize: vertical;
}

#task-area {
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #333333;
    border: 1px solid #1e1e1e;
    border-radius: 20px;
}

#task-area form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#task-area input {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 2px;
}

#task-rendered-area {
    margin: 0 0 1rem 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 4% 46% 46%;
    gap: 10px;
    width: 70%;
    align-self: center;
}

#task-created-date {
    font-size: x-small;
}

#task-due-date {
    font-size: small;
}

#task-btn {
    justify-self: center;
    align-self: center;
    margin: 0%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
}

h1 {
    margin: 2%;
}

p {
    margin: 0.5%;
}